In [3]:
import pandas as pd
data=pd.read_csv('C:/Users/82109/Desktop/해커톤/3. 내비게이션데이터/내비게이션데이터/1월/tmap_OD_202101.csv',delimiter='|')
january=data[data['DEST_CLASS_CD_2']==17]
january

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
124,202101,20210101,local,M,20,Grid240_376,Grid407_357,11,29,46,8,17,1,1
289,202101,20210101,local,M,30,Grid121_469,Grid125_527,14,2,44,8,17,1,1
662,202101,20210101,local,M,30,Grid238_369,Grid254_362,13,4,9,8,17,3,1
1838,202101,20210101,local,M,40,Grid271_514,Grid271_511,15,20,3,8,17,1,1
1970,202101,20210101,local,M,40,Grid319_494,Grid229_373,19,9,11,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476790,202101,20210131,visit,W,60,Grid152_399,Grid176_388,11,54,11,8,17,3,1
476898,202101,20210131,visit,W,60,Grid308_501,Grid271_511,18,21,15,8,17,1,1
476904,202101,20210131,visit,W,60,Grid321_408,Grid271_511,15,34,40,8,17,1,1
476926,202101,20210131,visit,W,60,Grid377_479,Grid352_491,17,54,12,8,17,3,1
476947,202101,20210131,visit,W,70,Grid120_432,Grid136_415,11,38,6,8,17,1,1

In [6]:
data=pd.read_csv('C:/Users/82109/Desktop/해커톤/3. 내비게이션데이터/내비게이션데이터/2월/tmap_OD_202102.csv',delimiter='|')
feb=data['AGE']
feb

0         10
1         10
2         10
3         20
4         20
          ..
657011    70
657012    70
657013    70
657014    70
657015    70
Name: AGE, Length: 657016, dtype: int64