In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/1월/tmap_OD_202101.csv', 
                   delimiter = '|')
january = data[data['DEST_CLASS_CD_2'] == 17]

january

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
124,202101,20210101,local,M,20,Grid240_376,Grid407_357,11,29,46,8,17,1,1
289,202101,20210101,local,M,30,Grid121_469,Grid125_527,14,2,44,8,17,1,1
662,202101,20210101,local,M,30,Grid238_369,Grid254_362,13,4,9,8,17,3,1
1838,202101,20210101,local,M,40,Grid271_514,Grid271_511,15,20,3,8,17,1,1
1970,202101,20210101,local,M,40,Grid319_494,Grid229_373,19,9,11,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476790,202101,20210131,visit,W,60,Grid152_399,Grid176_388,11,54,11,8,17,3,1
476898,202101,20210131,visit,W,60,Grid308_501,Grid271_511,18,21,15,8,17,1,1
476904,202101,20210131,visit,W,60,Grid321_408,Grid271_511,15,34,40,8,17,1,1
476926,202101,20210131,visit,W,60,Grid377_479,Grid352_491,17,54,12,8,17,3,1
476947,202101,20210131,visit,W,70,Grid120_432,Grid136_415,11,38,6,8,17,1,1

In [4]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/2월/tmap_OD_202102.csv', 
                   delimiter = '|')
feburary = data[data['DEST_CLASS_CD_2'] == 17]

feburary

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
641,202102,20210201,local,M,30,Grid231_379,Grid254_364,17,24,32,8,17,1,1
715,202102,20210201,local,M,30,Grid237_375,Grid254_364,15,14,14,8,17,1,1
802,202102,20210201,local,M,30,Grid244_366,Grid231_375,14,28,12,8,17,99,1
829,202102,20210201,local,M,30,Grid246_373,Grid249_365,18,6,7,8,17,1,1
1032,202102,20210201,local,M,30,Grid263_365,Grid249_365,15,37,17,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
656685,202102,20210228,visit,W,60,Grid173_489,Grid271_511,18,41,29,8,17,1,1
656717,202102,20210228,visit,W,60,Grid199_504,Grid203_507,16,15,8,8,17,3,1
656722,202102,20210228,visit,W,60,Grid201_506,Grid271_511,16,30,5,8,17,1,1
656927,202102,20210228,visit,W,60,Grid437_406,Grid271_510,16,32,61,8,17,1,1
656970,202102,20210228,visit,W,70,Grid240_501,Grid272_511,17,41,19,8,17,1,1

In [5]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/3월/tmap_OD_202103.csv', 
                   delimiter = '|')
march = data[data['DEST_CLASS_CD_2'] == 17]

march

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
62,202103,20210301,local,M,20,Grid215_503,Grid271_511,13,4,23,8,17,1,1
143,202103,20210301,local,M,20,Grid241_378,Grid254_364,14,27,22,8,17,1,1
342,202103,20210301,local,M,30,Grid133_518,Grid128_526,12,31,5,8,17,2,1
885,202103,20210301,local,M,30,Grid257_374,Grid231_375,20,46,40,8,17,99,1
952,202103,20210301,local,M,30,Grid262_395,Grid433_398,19,35,2,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
785507,202103,20210331,visit,W,60,Grid273_512,Grid271_511,13,21,1,8,17,1,1
785636,202103,20210331,visit,W,60,Grid367_401,Grid381_431,18,0,12,8,17,3,1
785675,202103,20210331,visit,W,60,Grid404_358,Grid407_357,16,6,1,8,17,1,1
785690,202103,20210331,visit,W,60,Grid435_399,Grid271_511,17,50,70,8,17,1,1
785739,202103,20210331,visit,W,70,Grid229_373,Grid254_364,15,7,26,8,17,1,1

In [6]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/4월/tmap_OD_202104.csv', 
                   delimiter = '|')
april = data[data['DEST_CLASS_CD_2'] == 17]

april

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
236,202104,20210401,local,M,20,Grid264_386,Grid254_369,13,46,16,8,17,1,1
256,202104,20210401,local,M,20,Grid271_508,Grid271_511,18,47,11,8,17,1,1
363,202104,20210401,local,M,30,Grid127_525,Grid124_527,15,5,3,8,17,1,1
449,202104,20210401,local,M,30,Grid177_517,Grid214_516,15,7,17,8,17,3,1
568,202104,20210401,local,M,30,Grid219_392,Grid276_501,7,59,47,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913633,202104,20210430,visit,W,60,Grid331_449,Grid407_357,17,44,59,8,17,1,1
913714,202104,20210430,visit,W,70,Grid163_485,Grid206_510,12,38,11,8,17,1,1
913722,202104,20210430,visit,W,70,Grid192_502,Grid206_510,17,56,12,8,17,1,1
913734,202104,20210430,visit,W,70,Grid233_378,Grid235_388,18,3,11,8,17,99,1
913774,202104,20210430,visit,W,70,Grid289_412,Grid235_388,16,33,17,8,17,99,1

In [7]:
data = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/내비게이션데이터/5월/tmap_OD_202105.csv', 
                   delimiter = '|')
may = data[data['DEST_CLASS_CD_2'] == 17]

may

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
273,202105,20210501,local,M,20,Grid262_380,Grid249_365,18,5,20,8,17,1,1
321,202105,20210501,local,M,20,Grid297_510,Grid271_511,13,53,16,8,17,1,1
378,202105,20210501,local,M,20,Grid407_363,Grid407_357,12,41,5,8,17,1,1
433,202105,20210501,local,M,30,Grid120_478,Grid124_527,13,37,22,8,17,1,1
531,202105,20210501,local,M,30,Grid150_400,Grid271_511,18,59,40,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
971059,202105,20210531,visit,W,50,Grid395_468,Grid271_511,18,16,5,8,17,1,1
971252,202105,20210531,visit,W,60,Grid129_529,Grid128_526,15,25,2,8,17,2,1
971277,202105,20210531,visit,W,60,Grid152_522,Grid271_511,17,21,29,8,17,1,1
971371,202105,20210531,visit,W,60,Grid222_476,Grid271_511,16,26,37,8,17,1,1
971373,202105,20210531,visit,W,60,Grid222_508,Grid271_511,17,45,23,8,17,1,1

In [8]:
first_half = pd.concat([january, feburary, march, april, may])

market = first_half['DEST']

selected_market = market.value_counts()

print(selected_market.head(5))
# 5개의 시장만 선별

Grid271_511    15400
Grid254_364    10029
Grid235_388     3481
Grid230_374     2032
Grid276_501     2017
Name: DEST, dtype: int64

In [55]:
import pandas as pd

df = pd.read_csv('/Users/leedonghyeok/Desktop/data_jeju/2019_2021 신용카드 데이터(해커톤용)/2021_내국인신용카드데이터.csv',
                encoding = 'CP949')

df2 = df[df['TOUR_GB'] == '관광객']

df2 = df2.dropna()

df2.head(5)

/Users/leedonghyeok/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Unnamed: 0,GB,CLN_GB,TA_YM,DAY_GB,TOUR_GB,SEX_CCD,AGE_GB,M_SI_NM,M_DONG_NM,BLK,C_SIDO_NM,IDCS_CD,AMT_CORR,USECT_CORR
0,1,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid303_478,서울,90231,200454.0,11
1,2,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid310_498,충북,56111,161477.0,6
2,3,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid314_499,경기,562,66818.0,6
3,4,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid315_496,서울,47122,58187.0,6
4,5,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid318_498,경기,56111,111363.0,6

In [58]:
df2['MEAN_PAY'] = df2['AMT_CORR'] / df2['USECT_CORR']

df2

,Unnamed: 0,GB,CLN_GB,TA_YM,DAY_GB,TOUR_GB,SEX_CCD,AGE_GB,M_SI_NM,M_DONG_NM,BLK,C_SIDO_NM,IDCS_CD,AMT_CORR,USECT_CORR,MEAN_PAY
0,1,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid303_478,서울,90231,200454.0,11,18223.090909
1,2,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid310_498,충북,56111,161477.0,6,26912.833333
2,3,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid314_499,경기,562,66818.0,6,11136.333333
3,4,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid315_496,서울,47122,58187.0,6,9697.833333
4,5,1,개인,202101,공휴일,관광객,F,2.0,서귀포시,남원읍,Grid318_498,경기,56111,111363.0,6,18560.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7854962,7854963,1,개인,202112,비주말,관광객,F,6.0,제주시,우도면,Grid450_375,서울,47129,312661.0,6,52110.166667
7854963,7854964,1,개인,202112,비주말,관광객,M,2.0,제주시,우도면,Grid451_358,경기,56111,301292.0,11,27390.181818
7854964,7854965,1,개인,202112,주말,관광객,M,5.0,제주시,우도면,Grid452_358,전남,56111,88114.0,6,14685.666667
7854966,7854967,1,개인,202112,비주말,관광객,M,5.0,제주시,우도면,Grid454_375,충북,4721,79587.0,6,13264.500000
7854967,7854968,1,개인,202112,주말,관광객,M,5.0,제주시,우도면,Grid458_372,서울,56191,113695.0,11,10335.909091

In [63]:
market_list = ['Grid271_511', 'Grid254_364', 'Grid235_388', 'Grid230_374', 'Grid276_501']

pay1 = round(df2[df2['BLK'] == 'Grid271_511']['MEAN_PAY'].mean())
pay2 = round(df2[df2['BLK'] == 'Grid254_364']['MEAN_PAY'].mean())
pay3 = round(df2[df2['BLK'] == 'Grid235_388']['MEAN_PAY'].mean())
pay4 = round(df2[df2['BLK'] == 'Grid230_374']['MEAN_PAY'].mean())
pay5 = round(df2[df2['BLK'] == 'Grid276_501']['MEAN_PAY'].mean())

answer = [pay1, pay2, pay3, pay4, pay5]

for i in answer:
    print(i ,"원")

21293 원
27617 원
15528 원
163441 원
46392 원