In [1]:
import numpy as np
import pandas as pd

data = pd.read_csv("/Users/leedonghyeok/Downloads/야놀자_숙박업 행정동별 D-30일 투숙 비율 데이터/YN_LDGS_ADSTRD_LDGMNT_RATE_LIST_202101.csv")
data

,LDGMNT_MT,LDGMNT_DE,CTY_NM,SIGNGU_NM,ADSTRD_NM,LDGMNT_TY_NM,LDGMNT_RATE
0,1,20210101,강원도,강릉시,포남1동,호텔,83
1,1,20210101,강원도,강릉시,초당동,호텔,4
2,1,20210101,강원도,강릉시,중앙동,호텔,100
3,1,20210101,강원도,강릉시,주문진읍,호텔,24
4,1,20210101,강원도,강릉시,옥천동,호텔,7
...,...,...,...,...,...,...,...
103302,1,20210131,충청북도,충주시,동량면,모텔,8
103303,1,20210131,충청북도,충주시,대소원면,모텔,18
103304,1,20210131,충청북도,충주시,칠금.금릉동,게스트하우스,0
103305,1,20210131,충청북도,충주시,살미면,게스트하우스,0
103306,1,20210131,충청북도,충주시,금가면,게스트하우스,0

In [5]:
data1 = data.loc[:,['CTY_NM', 'SIGNGU_NM', 'ADSTRD_NM', 'LDGMNT_TY_NM', 'LDGMNT_RATE']]

In [15]:
jeju = data1[data1['CTY_NM']=='제주특별자치도']

In [17]:
jeju2 = jeju[jeju['ADSTRD_NM'] == '이도1동']

In [31]:
jeju['ADSTRD_NM'].value_counts()
# 동문시장이 이도1동인데 가장 적은 값이 나옴

도두동     124
이호동     124
애월읍     124
중문동     124
남원읍     124
성산읍     124
표선면     124
외도동     124
안덕면     124
연동      124
한경면     124
천지동     124
용담2동    124
한림읍     124
정방동     124
이도2동    124
예래동     124
대정읍     124
구좌읍     124
대륜동     124
대천동     124
영천동     124
노형동     124
삼도1동    124
송산동     124
조천읍     124
일도1동    124
용담1동    113
삼양동      93
봉개동      93
효돈동      93
이도1동     93
오라동      93
삼도2동     93
건입동      93
중앙동      93
아라동      93
서홍동      62
동홍동      62
우도면      62
일도2동     62
화북동      31
Name: ADSTRD_NM, dtype: int64

In [39]:
import pandas as pd

data = pd.read_csv("/Users/leedonghyeok/Downloads/내비게이션데이터/1월/tmap_OD_202101.csv", delimiter = '|')
data.head(5)

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
0,202101,20210101,local,M,10,Grid176_383,Grid252_362,17,23,36,2,2,99,1
1,202101,20210101,local,M,10,Grid252_362,Grid255_373,17,33,8,2,1,8,1
2,202101,20210101,local,M,10,Grid253_372,Grid176_383,20,52,33,3,1,9,1
3,202101,20210101,local,M,10,Grid292_357,Grid395_392,12,35,26,3,2,6,1
4,202101,20210101,local,M,10,Grid369_387,Grid395_392,12,43,7,3,2,6,1

In [44]:
data1 = data[data['DEST_CLASS_CD_1']==8]
market = data1[data1['DEST_CLASS_CD_2']==17]
market

# 시장 중 목적지가 높은 순으로 나열해서 몇 개 뽑는 것이 좋아보임

,STD_YM,STD_YMD,ETC,GENDER,AGE,ORG,DEST,DEST_HH,DEST_MM,TOTAL_TIME,DEST_CLASS_CD_1,DEST_CLASS_CD_2,DEST_CLASS_CD_3,CNT
124,202101,20210101,local,M,20,Grid240_376,Grid407_357,11,29,46,8,17,1,1
289,202101,20210101,local,M,30,Grid121_469,Grid125_527,14,2,44,8,17,1,1
662,202101,20210101,local,M,30,Grid238_369,Grid254_362,13,4,9,8,17,3,1
1838,202101,20210101,local,M,40,Grid271_514,Grid271_511,15,20,3,8,17,1,1
1970,202101,20210101,local,M,40,Grid319_494,Grid229_373,19,9,11,8,17,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476790,202101,20210131,visit,W,60,Grid152_399,Grid176_388,11,54,11,8,17,3,1
476898,202101,20210131,visit,W,60,Grid308_501,Grid271_511,18,21,15,8,17,1,1
476904,202101,20210131,visit,W,60,Grid321_408,Grid271_511,15,34,40,8,17,1,1
476926,202101,20210131,visit,W,60,Grid377_479,Grid352_491,17,54,12,8,17,3,1
476947,202101,20210131,visit,W,70,Grid120_432,Grid136_415,11,38,6,8,17,1,1

In [ ]:
# 이동통신데이터 중 블록단위로 시장을 찾는 것도 좋을 듯